<mat-toolbar color="accent">
  <mat-toolbar-row style="color: white;">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
   
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink=""> Home </a>
    </div>
  
  </mat-toolbar-row>
 
  
</mat-toolbar>
<mat-sidenav-container autosize ><mat-sidenav #sidenav mode="side">
  <mat-nav-list>
 
     
    <a mat-list-item routerLink="/addproduct"> Add Product </a>
    <a mat-list-item routerLink="" > Find Product </a>
    <a mat-list-item routerLink="/updateproduct"> Update Product </a>
    <a mat-list-item routerLink="/deleteproduct">Delete Product</a>
    <a mat-list-item (click)="sidenav.toggle()" [routerLink]="" mat-list-item>Close</a>
 
  </mat-nav-list>
</mat-sidenav>

<router-outlet></router-outlet>

