<h1>List using async</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price </th>
            <th>Quantity</th>
            <th>Color</th>
            <th>ExpiryDate</th>
            <th>inStock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let p of products | async'>
            <td>{{p?.id}}</td>
            <td>{{p?.title}}</td>
            <td>{{p?.price}} </td>
            <td>{{p?.quantity}}</td>
            <td>{{p?.color}}</td>
            <td>{{p?.expiryDate}}</td>
            <td>{{p?.inStock}}</td>
        </tr>
    </tbody>
</table>