<hr/><div class="row"><div class="col-md-2"></div>
<div class ="col-md-1"><h2>Filter : </h2></div>
<input type="text"[(ngModel)] ='search' placeholder="Filter by title">

<input type="text"[(ngModel)] ='price' placeholder="Filter by Price">


</div>
<hr/>
<div class="container">
    <h1 class="text-danger text-center">Structural Directive Demo</h1>
  </div>
  <div class="row ">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-left bg-white rounded shadow py-3">
    <table class ="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    Expiry Date
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    In Stock
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products | productsearch:search | pricepipe:price">
                <td>{{p.Id}}</td>
                <td>{{p.Title}}</td>
                <td>{{p.Price | currency:"INR" }}</td>
                <td>{{p.ExpiryDate}}</td>
                <td>{{p.Quantity}}</td>
                
                <td>
                    <ng-container *ngIf="p.isInStock; then instock else outofstock"></ng-container>
                    <ng-template #instock>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </ng-template>
                    <ng-template #outofstock>
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <button class="btn ">Order Now</button>
                    </ng-template>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>
</div>
<br/>
<h1 class="text-center text-danger">Angular Material Table</h1>
<hr>
<br>
<div class="col-md-12">
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let user"> {{user.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="TITLE">
            <th mat-header-cell *matHeaderCellDef> TITLE </th>
            <td mat-cell *matCellDef="let user"> {{user.Title}} </td>
        </ng-container>
        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let user"> {{user.Price}} </td>
        </ng-container>
        <ng-container matColumnDef="ExpiryDate">
            <th mat-header-cell *matHeaderCellDef> ExpiryDate </th>
            <td mat-cell *matCellDef="let user"> {{user.ExpiryDate}} </td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let user"> {{user.Quantity}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<div class="footer">
    <p>In this demo we have used Structural Directives to display the data in the structural format 
        in the Dom . We have used a service to fetch the data as well as a custom pipe to filter the data on the 
    basis of price and title</p>
  </div>