<!-- <div class="container">
  <h1 class ="text-center">{{title}}</h1>
  <div class="row">
    <div class ="col-md-2">
      <button routerLink="/data-binding" class ="btn btn-danger" >Data Binding Demo</button>
    </div>
    <div class ="col-md-2">
      <button routerLink="/product" class ='btn btn-warning'>Products</button>
    </div>
    <div class ="col-md-2"> 
      <button routerLink="/MasterDetails" class='btn btn-info'>Master Products</button>
    </div>
    <div class="col-md-2">
      <button routerLink ="/newcomponent"  class='btn btn-danger'>Data sharing child 1</button>
    </div>
    <br/>

    <div class="col-md-2">
      <button routerLink ="/child2"  class='btn btn-danger'>Data sharing child 2 </button>
    </div>
    <div class="col-md-2">
      <button routerLink ="merge"  class='btn btn-danger'>Unrelated Components </button>
    </div>
    <div class="col-md-2">
      <button routerLink ="adirective"  class='btn btn-danger'>Attribute Directive</button>
    </div>
  </div>
  <hr/>
  <div class ="row">
    <div class="col-md-12">
    <!-- <app-tshirt *ngIf='showDataBinding'></app-tshirt>
    <app-product *ngIf='showproductDemo1'></app-product>
    <app-purchase *ngIf='showpurchase'></app-purchase> -->
   
   
  
   <!-- </div>
  </div>
  </div>  -->
<div class="container">
  <nav class="navbar navbar-light bg-light">
 
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
    <img src="../assets/angular3.jpg" width="30" height="30" alt=""></a>
    
    <a class="navbar-brand" routerLink="/home" >Harsh</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/data-binding">Data Binding<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/product">Products<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/MasterDetails">MasterDetails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="/merge">Data Shairing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="adirective">Attribute Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="errorhandle">Error Handler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="formsmodule">Reactive Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="templateform">Template Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink ="mainobservalbe">Subjects</a>
        </li>
        
        
        
        </ul>
        </div>
        </nav>
      </div>
        <router-outlet></router-outlet>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div> --> 