<h1 class="text-danger text-center">My Angular Learnings</h1>
<div class="row">
<div class="col-md-5"></div>
<div class="col-md-4">
    <img [src]='imagesource' (mouseenter)='changeimage()' (mouseleave)="realimage()" 
     [style.height.px]="300"  [style.width.px]="230"/>
</div>
</div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class ="col-md-8">
        <h3><p>NOTE:This project contains the demo of all the topics we have covered so far in Angular like Data Binding ,
               structural Directives , Atrribute Diretctives , Error Handling ,services ,dependency injection ,etc </p></h3>
    </div>
</div>