<h1 class="text-danger text-center">My Angular Learnings</h1>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-2">
    <img [src]='imagesource' (mouseenter)='changeimage()' (mouseleave)="realimage()" 
     [style.height.px]="300"  [style.width.px]="230"/>

</div>
<div class="col-md-1"></div>
<div class="col-md-5">
   <h3>Name - Harsh Gupta </h3>
   <h3>Designation - Associate Software Engineer Trainee </h3>
   <h3>Company - Taazaa </h3>
</div>
</div>
<br/><br/>



<div class="row justify-content-center">
    
    <div class="col-md-6 text-left bg-white rounded shadow py-5">
        <h1><p> Topics That are covered in this Project </p></h1>
     
        <p ><a routerLink="/data-binding" > • Data Binding </a> </p>
        <p ><a routerLink="/product"> • Structural Directives </a> </p>
        <p ><a routerLink="/MasterDetails"> • Component Communication in angular </a> </p>
        <p ><a routerLink="/merge"> • Sharing data b/w two different component using services </a> </p>
        <p ><a routerLink="/adirective"> • Attribute Directives </a> </p>
        <p ><a routerLink="/errorhandle"> • Error Handler </a> </p>
        <p ><a routerLink="/formsmodule"> • Reactive Forms </a> </p>
        <p ><a routerLink="/templateform"> • Template Driven Forms </a> </p>
        <p ><a routerLink="/mainobservalbe"> • Rxjs</a> </p>

    </div>
</div>
<router-outlet></router-outlet>