<h1 class="text-center">Demonstration of different types of subjects in Rxjs</h1>
<br/>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
    <button routerLink ="/mainobservalbe/observable" class="button button1">Subject</button>
   </div>
   <div class="col-md-2">
    <button routerLink ="/mainobservalbe/observable2" class="button button1">Replay Subject</button>
   </div>
   <div class="col-md-2">
    <button routerLink ="/mainobservalbe/observable3" class="button button1">Behaviour Subject</button>
   </div>
   <div class="col-md-2">
    <button routerLink ="mainobservalbe/observable4" class="button button1">Async Subjects</button>
   </div>
</div>
<br/>
<br/>
<br/>
<router-outlet></router-outlet>