
<!-- <div class ="row">
    <h2 class="text-danger text-center">Master-Details Using Component Communication</h2>
</div>
<hr/>
<div class="row">
    <table class="table">
    <thead class="theads-dark">
        <tr>
            <th>
                Id
            </th>
            <th>
                Purchase Item
            </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let p of purchase">
                <td>{{p.Id}}</td>
                <td><button class ="btn btn-link">{{p.Name}}</button></td>
            </tr>
        </tbody>
    </table> -->
    <div class="col-md-10">
        <div class="row">
            <h1 class= "text-danger text-center" >
            Master Details Using Component Composition
        </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-accordion class="example-headers-align" >
                <mat-expansion-panel *ngFor ="let p of purchase">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2>{{p.Id}}</h2>
                        </mat-panel-title>
                        <mat-panel-description>
                            <h2 class="text-info">{{p.Name}}</h2>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-purchaseorder [PurchaseItem]='p'></app-purchaseorder>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-2">
    
        </div>
        <div class ="col-md-8">
            <h3>NOTE: In this component we make use @Input/@output directives in two components both of which have access to a service named dataservice The component 1 fetches data from service 
                and display an expansion panel, and that expansion panel contains a table of component 2.</h3>
        </div>
    </div>

    