<div class="container">
    <h1 class="text-danger text-center">Attribute Directive Demo</h1>
</div>

<div class="container">
 
<div class="col-md-8"></div>

<div class="col-md-4">
  <input type="text" [(ngModel)]='c'/>
  <br/>
  <br/>

    <div appChangecolor [color]='c'>hello</div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">

  </div>
  <br/>
  <br/>
  <div class="row"></div>
  <br/>
  <div class="row"></div>
  <br/>
  <div class ="col-md-8">

      <h3>NOTE:Here I have used Attribute Directives . With the help of attribute directives we can 
        change the appearance or behavior of DOM elements and Angular components. 
      </h3>
  </div>
</div>