<div class="container">
    <h1 class="text-danger text-center">Attribute Directive Demo</h1>
</div>

<div class="row justify-content-center">
 


<div class="col-md-6 text-left bg-white rounded shadow py-3">
  <h3>Input Color : <input type="text" [(ngModel)]='c'/></h3>
  <br/>
  <br/>

    <div appChangecolor [color]='c'>Move mouse over me</div>
  </div>
</div>

<div class="footer">
  <p>Here I have used Attribute Directives . With the help of attribute directives we can 
    change the appearance or behavior of DOM elements and Angular components. </p>
</div>