<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-4">
    <h2>This Button Handles Error :</h2>
<button class="btn btn-danger" (click)="handleError()">Error Handler</button>
</div>
</div>
<div class="row">
<div class ="col-md-1"></div>
<div class ="col-md-4">
<h2>Service Class used To Handle Errors</h2>
<img src="../assets/errorhandlerservive.jpg">
</div>
<div class ="col-md-1"></div>
<div class="col-md-4">
    <h2>Component.ts file</h2>
    <img src="../assets/errorhandlercomponent.jpg">
</div>
</div>
<div class ="row">
    <div class ="col-md-1"></div>
<div class ="col-md-4">
<h2>component.html file</h2>
<img src="../assets/html.jpg">
</div>
</div>
<br/><br/>
<div class="row">
<div class ="col-md-1"></div>
<div class="col-md-4">
    <h2>app.module.ts where we provided the service and using Error Handler Class</h2>
    <img src="../assets/appmodule.jpg">
</div>
</div>
<br/>

<div class ="row">
    <div class ="col-md-1"></div>
<div class ="col-md-4">
<h2>Error Befor</h2>
<img src="../assets/error.jpg">
</div>
<div class ="col-md-1"></div>
<div class="col-md-4">
    <h2>Error After</h2>
    <img src="../assets/after.PNG">
</div>
</div>
