<hr/><div class="row"><div class="col-md-2"></div>
<div class ="col-md-1"><h2>Filter : </h2></div>
<input type="text"[(ngModel)] ='search' placeholder="Filter by Category">
</div>
<hr/>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <table class="table">
        <thead>
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>CategoryName</th>
            <th>Manufacturer</th>
            <th>ShortCode</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of product | categoryPipe:search">
            <td>
                {{p.ProductId}}
            </td>
            <td>
                {{p.ProductName}}
            </td>
            <td>
                {{p.Price}}
            </td>
            <td>
                {{p.CategoryName}}
            </td>
            <td>
                {{p.Manufacturer}}
            </td>
            <td>
                {{p.ShortCode}}
            </td>
        </tr>
    </tbody>
    </table>
</div>
</div>
